rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if request.auth != null;
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        firestore.exists(/databases/(default)/documents/config/admin) &&
        (request.auth.token.email in firestore.get(/databases/(default)/documents/config/admin).data.authorizedEmails);
    }

    match /ogp/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    // デフォルトは拒否
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
